USE [master]
GO
/****** Object:  Database [shipment5]    Script Date: 04/11/2019 17:43:46 ******/
CREATE DATABASE [shipment5]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shipment5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shipment5]
GO
/****** Object:  Table [dbo].[RuleTable]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RuleNames] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[StatusOPA90] [nvarchar](max) NULL,
	[OneHour] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RuleTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RuleTable] ON
INSERT [dbo].[RuleTable] ([ID], [RuleNames], [Status], [StatusOPA90], [OneHour]) VALUES (1, N'Manila', 1, N'OPA90option1', 1)
SET IDENTITY_INSERT [dbo].[RuleTable] OFF
/****** Object:  Table [dbo].[RuffCode]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuffCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[keyno] [nvarchar](max) NULL,
	[keycode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RuffCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RuffCode] ON
INSERT [dbo].[RuffCode] ([Id], [keyno], [keycode]) VALUES (1, N'0cENGo4LS6M=', N'VsOqrUW+Q7nambsuIjtrguM91BEuNL2YeOjmcB+6iYY=')
INSERT [dbo].[RuffCode] ([Id], [keyno], [keycode]) VALUES (2, N'EXn/WQzN3W8=', N'pagQcAr88+jr+1Y4DfxOutyx9UdO0j+9tnyhMM5T1Tg=')
INSERT [dbo].[RuffCode] ([Id], [keyno], [keycode]) VALUES (3, N'ewnk52MpDHY=', N'KeVmxyxAEHGagfsr72/rhTgW4YU0C2IN/kLEPNau9J8=')
SET IDENTITY_INSERT [dbo].[RuffCode] OFF
/****** Object:  Table [dbo].[RetardtblClass]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RetardtblClass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateID] [nvarchar](max) NULL,
	[RDate] [datetime] NOT NULL,
	[RET_ADV] [nvarchar](max) NULL,
	[Times] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RetardtblClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RetardtblClass] ON
INSERT [dbo].[RetardtblClass] ([Id], [DateID], [RDate], [RET_ADV], [Times]) VALUES (1, N'3', CAST(0x0000AA0500000000 AS DateTime), N'RETARD', N'1.5')
INSERT [dbo].[RetardtblClass] ([Id], [DateID], [RDate], [RET_ADV], [Times]) VALUES (2, N'6', CAST(0x0000AA0800000000 AS DateTime), N'ADVANCE', N'2.5')
SET IDENTITY_INSERT [dbo].[RetardtblClass] OFF
/****** Object:  Table [dbo].[OverTime]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverTime](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[NrmlWHrs] [int] NOT NULL,
	[SatWHrs] [int] NOT NULL,
	[SunWhrs] [int] NOT NULL,
	[HolidayWHrs] [int] NOT NULL,
	[NrmlRates] [int] NOT NULL,
	[SatRates] [int] NOT NULL,
	[SunRates] [int] NOT NULL,
	[HolidayRates] [int] NOT NULL,
	[FixedOverTime] [int] NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](max) NULL,
	[holidays] [nvarchar](max) NULL,
	[did] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OverTime] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OverTime] ON
INSERT [dbo].[OverTime] ([cid], [name], [UserName], [NrmlWHrs], [SatWHrs], [SunWhrs], [HolidayWHrs], [NrmlRates], [SatRates], [SunRates], [HolidayRates], [FixedOverTime], [HourlyRate], [Currency], [holidays], [did]) VALUES (1, N'Barmala Sharma', N'barmala', 0, 0, 0, 0, 0, 0, 0, 0, 0, CAST(0.00 AS Decimal(18, 2)), NULL, N'India', 1)
INSERT [dbo].[OverTime] ([cid], [name], [UserName], [NrmlWHrs], [SatWHrs], [SunWhrs], [HolidayWHrs], [NrmlRates], [SatRates], [SunRates], [HolidayRates], [FixedOverTime], [HourlyRate], [Currency], [holidays], [did]) VALUES (2, N'Testcrew', N'testcrew', 0, 0, 0, 0, 0, 0, 0, 0, 0, CAST(0.00 AS Decimal(18, 2)), N'rupy', N'India', 6)
INSERT [dbo].[OverTime] ([cid], [name], [UserName], [NrmlWHrs], [SatWHrs], [SunWhrs], [HolidayWHrs], [NrmlRates], [SatRates], [SunRates], [HolidayRates], [FixedOverTime], [HourlyRate], [Currency], [holidays], [did]) VALUES (3, N'Young', N'young', 0, 0, 0, 0, 0, 0, 0, 0, 0, CAST(0.00 AS Decimal(18, 2)), NULL, N'India', 5)
SET IDENTITY_INSERT [dbo].[OverTime] OFF
/****** Object:  Table [dbo].[OPAStartStop]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPAStartStop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OPAStart] [datetime] NOT NULL,
	[OPAStop] [datetime] NOT NULL,
	[startDateID] [nvarchar](max) NULL,
	[stopDateID] [nvarchar](max) NULL,
	[LongLimit] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OPAStartStop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OPAStartStop] ON
INSERT [dbo].[OPAStartStop] ([id], [OPAStart], [OPAStop], [startDateID], [stopDateID], [LongLimit]) VALUES (2, CAST(0x0000AA0400C5C100 AS DateTime), CAST(0x0000AA0400E6B680 AS DateTime), N'2', N'2', 0)
INSERT [dbo].[OPAStartStop] ([id], [OPAStart], [OPAStop], [startDateID], [stopDateID], [LongLimit]) VALUES (3, CAST(0x0000AA04010FE960 AS DateTime), CAST(0x0000AA0500DE7920 AS DateTime), N'2IDL', N'3', 0)
SET IDENTITY_INSERT [dbo].[OPAStartStop] OFF
/****** Object:  Table [dbo].[Logbook]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logbook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
	[EventName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[CrewGroup] [nvarchar](max) NULL,
	[CrewGroup1] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[DateFrom1] [varchar](max) NULL,
	[DateTo1] [varchar](max) NULL,
	[TimeFrom] [varchar](max) NULL,
	[TimeTo] [varchar](max) NULL,
	[IDLFrom] [varchar](max) NULL,
	[IDLTo] [varchar](max) NULL,
 CONSTRAINT [PK_dbo.Logbook] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Logbook] ON
INSERT [dbo].[Logbook] ([Id], [DateFrom], [DateTo], [EventName], [UserName], [CrewGroup], [CrewGroup1], [Status], [DateFrom1], [DateTo1], [TimeFrom], [TimeTo], [IDLFrom], [IDLTo]) VALUES (1, CAST(0x0000A9C800C5C100 AS DateTime), CAST(0x0000A9FC00CDFE60 AS DateTime), N'sada', N'barmala,test', N'MASTER,C/O', N'MASTER(barmala),C/O(test)', N'MASTER(barmala),C/O(test)', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Logbook] OFF
/****** Object:  Table [dbo].[International]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[International](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RDate] [datetime] NOT NULL,
	[RET_ADV] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.International] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[International] ON
INSERT [dbo].[International] ([ID], [RDate], [RET_ADV]) VALUES (3, CAST(0x0000AA0400000000 AS DateTime), N'RETARD')
SET IDENTITY_INSERT [dbo].[International] OFF
/****** Object:  Table [dbo].[InfoLog]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[dt] [datetime] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[ModuleName] [nvarchar](max) NULL,
	[ActionName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Editdate] [datetime] NULL,
 CONSTRAINT [PK_dbo.InfoLog] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InfoLog] ON
INSERT [dbo].[InfoLog] ([LogId], [dt], [UserName], [ModuleName], [ActionName], [Description], [Editdate]) VALUES (1, CAST(0x0000A9F0009148F8 AS DateTime), N'admin', N'Import / Export', N'Import Data', N'Admin', NULL)
INSERT [dbo].[InfoLog] ([LogId], [dt], [UserName], [ModuleName], [ActionName], [Description], [Editdate]) VALUES (2, CAST(0x0000A9F000952AB8 AS DateTime), N'admin', N'Import / Export', N'Import Data', N'Admin', NULL)
INSERT [dbo].[InfoLog] ([LogId], [dt], [UserName], [ModuleName], [ActionName], [Description], [Editdate]) VALUES (3, CAST(0x0000A9F000BF9A00 AS DateTime), N'admin', N'Application Log', N'Export Data', N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[InfoLog] OFF
/****** Object:  Table [dbo].[Holidays]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[HolidayDate] [datetime] NOT NULL,
	[Gid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Holidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Holidays] ON
INSERT [dbo].[Holidays] ([Id], [Name], [HolidayDate], [Gid]) VALUES (1, N'Republic Day', CAST(0x0000A9E100000000 AS DateTime), 1)
INSERT [dbo].[Holidays] ([Id], [Name], [HolidayDate], [Gid]) VALUES (2, N'Holi', CAST(0x0000AA1600000000 AS DateTime), 1)
INSERT [dbo].[Holidays] ([Id], [Name], [HolidayDate], [Gid]) VALUES (15, N'Ss', CAST(0x0000AA1600000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Holidays] OFF
/****** Object:  Table [dbo].[HoliDayGroupName]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoliDayGroupName](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HoliDayGroupName] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HoliDayGroupName] ON
INSERT [dbo].[HoliDayGroupName] ([Id], [GroupName]) VALUES (1, N'India')
SET IDENTITY_INSERT [dbo].[HoliDayGroupName] OFF
/****** Object:  Table [dbo].[GroupPlanner]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPlanner](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[Rank] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Place] [nvarchar](max) NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
	[NonConfirmity] [nvarchar](max) NULL,
	[WorkingHRS] [decimal](18, 2) NOT NULL,
	[HRS] [nvarchar](max) NULL,
	[Colors] [nvarchar](max) NULL,
	[Opa] [bit] NOT NULL,
	[Col1] [nvarchar](max) NULL,
	[Col2] [nvarchar](max) NULL,
	[Col3] [nvarchar](max) NULL,
	[Col4] [nvarchar](max) NULL,
	[Col5] [nvarchar](max) NULL,
	[Col6] [nvarchar](max) NULL,
	[Col7] [nvarchar](max) NULL,
	[Col8] [nvarchar](max) NULL,
	[Col9] [nvarchar](max) NULL,
	[Col10] [nvarchar](max) NULL,
	[Col11] [nvarchar](max) NULL,
	[Col12] [nvarchar](max) NULL,
	[Col13] [nvarchar](max) NULL,
	[Col14] [nvarchar](max) NULL,
	[Col15] [nvarchar](max) NULL,
	[Col16] [nvarchar](max) NULL,
	[Col17] [nvarchar](max) NULL,
	[Col18] [nvarchar](max) NULL,
	[Col19] [nvarchar](max) NULL,
	[Col20] [nvarchar](max) NULL,
	[Col21] [nvarchar](max) NULL,
	[Col22] [nvarchar](max) NULL,
	[Col23] [nvarchar](max) NULL,
	[Col24] [nvarchar](max) NULL,
	[Col25] [nvarchar](max) NULL,
	[Col26] [nvarchar](max) NULL,
	[Col27] [nvarchar](max) NULL,
	[Col28] [nvarchar](max) NULL,
	[Col29] [nvarchar](max) NULL,
	[Col30] [nvarchar](max) NULL,
	[Col31] [nvarchar](max) NULL,
	[Col32] [nvarchar](max) NULL,
	[Col33] [nvarchar](max) NULL,
	[Col34] [nvarchar](max) NULL,
	[Col35] [nvarchar](max) NULL,
	[Col36] [nvarchar](max) NULL,
	[Col37] [nvarchar](max) NULL,
	[Col38] [nvarchar](max) NULL,
	[Col39] [nvarchar](max) NULL,
	[Col40] [nvarchar](max) NULL,
	[Col41] [nvarchar](max) NULL,
	[Col42] [nvarchar](max) NULL,
	[Col43] [nvarchar](max) NULL,
	[Col44] [nvarchar](max) NULL,
	[Col45] [nvarchar](max) NULL,
	[Col46] [nvarchar](max) NULL,
	[Col47] [nvarchar](max) NULL,
	[Col48] [nvarchar](max) NULL,
	[Col49] [nvarchar](max) NULL,
	[Col50] [nvarchar](max) NULL,
	[Col51] [nvarchar](max) NULL,
	[Col52] [nvarchar](max) NULL,
	[Col53] [nvarchar](max) NULL,
	[Col54] [nvarchar](max) NULL,
	[Col55] [nvarchar](max) NULL,
	[Col56] [nvarchar](max) NULL,
	[Col57] [nvarchar](max) NULL,
	[Col58] [nvarchar](max) NULL,
	[Col59] [nvarchar](max) NULL,
	[Col60] [nvarchar](max) NULL,
	[Col61] [nvarchar](max) NULL,
	[Col62] [nvarchar](max) NULL,
	[Col63] [nvarchar](max) NULL,
	[Col64] [nvarchar](max) NULL,
	[Col65] [nvarchar](max) NULL,
	[Col66] [nvarchar](max) NULL,
	[Col67] [nvarchar](max) NULL,
	[Col68] [nvarchar](max) NULL,
	[Col69] [nvarchar](max) NULL,
	[Col70] [nvarchar](max) NULL,
	[Col71] [nvarchar](max) NULL,
	[Col72] [nvarchar](max) NULL,
	[Col73] [nvarchar](max) NULL,
	[Col74] [nvarchar](max) NULL,
	[Col75] [nvarchar](max) NULL,
	[Col76] [nvarchar](max) NULL,
	[Col77] [nvarchar](max) NULL,
	[Col78] [nvarchar](max) NULL,
	[Col79] [nvarchar](max) NULL,
	[Col80] [nvarchar](max) NULL,
	[Col81] [nvarchar](max) NULL,
	[Col82] [nvarchar](max) NULL,
	[Col83] [nvarchar](max) NULL,
	[Col84] [nvarchar](max) NULL,
	[Col85] [nvarchar](max) NULL,
	[Col86] [nvarchar](max) NULL,
	[Col87] [nvarchar](max) NULL,
	[Col88] [nvarchar](max) NULL,
	[Col89] [nvarchar](max) NULL,
	[Col90] [nvarchar](max) NULL,
	[Col91] [nvarchar](max) NULL,
	[Col92] [nvarchar](max) NULL,
	[Col93] [nvarchar](max) NULL,
	[Col94] [nvarchar](max) NULL,
	[Col95] [nvarchar](max) NULL,
	[Col96] [nvarchar](max) NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GroupPlanner] PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Freeze]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Freeze](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FreezeDays] [int] NOT NULL,
	[FreezeStatus] [nvarchar](max) NULL,
	[ApplyDate] [datetime] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Freeze] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Freeze] ON
INSERT [dbo].[Freeze] ([Id], [FreezeDays], [FreezeStatus], [ApplyDate], [DateFrom], [DateTo]) VALUES (1, 25, N'Freeze', CAST(0x0000AA2C00000000 AS DateTime), CAST(0x0000A9BF01873438 AS DateTime), CAST(0x0000A9FB01873438 AS DateTime))
SET IDENTITY_INSERT [dbo].[Freeze] OFF
/****** Object:  Table [dbo].[Department]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Department] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON
INSERT [dbo].[Department] ([did], [DeptName]) VALUES (1, N'Catering')
INSERT [dbo].[Department] ([did], [DeptName]) VALUES (2, N'Deck')
INSERT [dbo].[Department] ([did], [DeptName]) VALUES (3, N'Engine')
SET IDENTITY_INSERT [dbo].[Department] OFF
/****** Object:  Table [dbo].[DefineRules]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefineRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rule6Hrs] [decimal](18, 2) NOT NULL,
	[Rule10Hrs] [decimal](18, 2) NOT NULL,
	[Rule10DevideTwo] [bit] NOT NULL,
	[Manila10DevideThree] [bit] NOT NULL,
	[Rule77Hrs] [decimal](18, 2) NOT NULL,
	[Manila70Hrs] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.DefineRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DefineRules] ON
INSERT [dbo].[DefineRules] ([Id], [Rule6Hrs], [Rule10Hrs], [Rule10DevideTwo], [Manila10DevideThree], [Rule77Hrs], [Manila70Hrs]) VALUES (2, CAST(6.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1, 1, CAST(77.00 AS Decimal(18, 2)), CAST(70.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DefineRules] OFF
/****** Object:  Table [dbo].[Currency]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[curid] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyName] [nvarchar](max) NULL,
	[CurrencySymbol] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Currency] PRIMARY KEY CLUSTERED 
(
	[curid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Currency] ON
INSERT [dbo].[Currency] ([curid], [CurrencyName], [CurrencySymbol]) VALUES (1, N'Indian', N'rupy')
SET IDENTITY_INSERT [dbo].[Currency] OFF
/****** Object:  Table [dbo].[CrewRank]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrewRank](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[SrNo] [int] NOT NULL,
	[Rank] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CrewRank] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CrewRank] ON
INSERT [dbo].[CrewRank] ([cid], [SrNo], [Rank]) VALUES (1, 1, N'MASTER')
INSERT [dbo].[CrewRank] ([cid], [SrNo], [Rank]) VALUES (2, 7, N'C/O')
INSERT [dbo].[CrewRank] ([cid], [SrNo], [Rank]) VALUES (3, 2, N'2/O')
SET IDENTITY_INSERT [dbo].[CrewRank] OFF
/****** Object:  Table [dbo].[CrewDetail]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrewDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[position] [nvarchar](max) NULL,
	[department] [nvarchar](max) NULL,
	[ServiceFrom] [datetime] NOT NULL,
	[ServiceTo] [datetime] NOT NULL,
	[CDC] [nvarchar](max) NULL,
	[empno] [nvarchar](max) NULL,
	[pswd] [nvarchar](max) NULL,
	[comments] [nvarchar](max) NULL,
	[overtime] [bit] NOT NULL,
	[SeaWk] [nvarchar](max) NULL,
	[SeaNWK] [nvarchar](max) NULL,
	[PortWk] [nvarchar](max) NULL,
	[PortNWK] [nvarchar](max) NULL,
	[dates] [datetime] NOT NULL,
	[SeaWH] [decimal](18, 2) NOT NULL,
	[portWH] [decimal](18, 2) NOT NULL,
	[did] [int] NOT NULL,
	[rid] [int] NOT NULL,
	[SeaWk1] [nvarchar](max) NULL,
	[SeaNWK1] [nvarchar](max) NULL,
	[PortWk1] [nvarchar](max) NULL,
	[PortNWK1] [nvarchar](max) NULL,
	[OpaStatus] [bit] NOT NULL,
	[CertificateView] [bit] NOT NULL,
	[CertificateAdd] [bit] NOT NULL,
	[CertificateEdit] [bit] NOT NULL,
	[CertificateDelete] [bit] NOT NULL,
	[DOB] [datetime] NOT NULL,
	[chkyoungs] [bit] NOT NULL,
	[SeaWkYoung] [nvarchar](max) NULL,
	[SeaNWKYoung] [nvarchar](max) NULL,
	[PortWkYoung] [nvarchar](max) NULL,
	[PortNWKYoung] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[WatchKeeper] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CrewDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CrewDetail] ON
SET IDENTITY_INSERT [dbo].[CrewDetail] OFF
/****** Object:  Table [dbo].[comment_ofVS]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_ofVS](
	[Comnt_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vessel_ID] [int] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[NC_Date] [datetime] NOT NULL,
	[Office_Comment] [nvarchar](max) NULL,
	[Comment_Date] [datetime] NOT NULL,
	[Acknowledge_Status] [nvarchar](max) NULL,
	[AdminAlarm] [bit] NOT NULL,
	[MasterAlarm] [bit] NOT NULL,
	[HODAlarm] [bit] NOT NULL,
	[Acknowledge_Status_MASTER] [nvarchar](max) NULL,
	[Acknowledge_Status_HOD] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.comment_ofVS] PRIMARY KEY CLUSTERED 
(
	[Comnt_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[comment_ofVS] ON
INSERT [dbo].[comment_ofVS] ([Comnt_ID], [Vessel_ID], [FullName], [UserName], [Position], [DepartmentName], [NC_Date], [Office_Comment], [Comment_Date], [Acknowledge_Status], [AdminAlarm], [MasterAlarm], [HODAlarm], [Acknowledge_Status_MASTER], [Acknowledge_Status_HOD]) VALUES (1, 9174488, N'Barmala Sharma', N'barmala', N'MASTER', N'All', CAST(0x0000A89100000000 AS DateTime), N'barmala', CAST(0x0000A8A100A6CEE7 AS DateTime), N'Acknowledged on 10-Feb-2019 09:03 Hours', 1, 0, 0, NULL, NULL)
INSERT [dbo].[comment_ofVS] ([Comnt_ID], [Vessel_ID], [FullName], [UserName], [Position], [DepartmentName], [NC_Date], [Office_Comment], [Comment_Date], [Acknowledge_Status], [AdminAlarm], [MasterAlarm], [HODAlarm], [Acknowledge_Status_MASTER], [Acknowledge_Status_HOD]) VALUES (2, 9174488, N'Barmala Sharma', N'barmala', N'MASTER', N'All', CAST(0x0000A89100000000 AS DateTime), N'barmala', CAST(0x0000A8A200A6CF20 AS DateTime), N'To be Acknowledged', 0, 0, 0, NULL, NULL)
INSERT [dbo].[comment_ofVS] ([Comnt_ID], [Vessel_ID], [FullName], [UserName], [Position], [DepartmentName], [NC_Date], [Office_Comment], [Comment_Date], [Acknowledge_Status], [AdminAlarm], [MasterAlarm], [HODAlarm], [Acknowledge_Status_MASTER], [Acknowledge_Status_HOD]) VALUES (3, 9174488, N'Barmala Sharma', N'barmala', N'MASTER', N'All', CAST(0x0000A89100000000 AS DateTime), N'barmala', CAST(0x0000A8A300A6CF20 AS DateTime), N'Acknowledged on 16-Mar-2019 05:23 Hours', 1, 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[comment_ofVS] OFF
/****** Object:  Table [dbo].[certificates]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certificates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SrNo] [int] NOT NULL,
	[CName] [nvarchar](max) NULL,
	[DOI] [datetime] NOT NULL,
	[DOE] [datetime] NOT NULL,
	[DOS] [datetime] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[Acknowledgements] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[AcknowledgDate] [datetime] NULL,
	[month6] [bit] NOT NULL,
	[AckDOE6m] [nvarchar](max) NULL,
	[NCDOE6m] [nvarchar](max) NULL,
	[month3] [bit] NOT NULL,
	[AckDOE3m] [nvarchar](max) NULL,
	[NCDOE3m] [nvarchar](max) NULL,
	[month1] [bit] NOT NULL,
	[AckDOE1m] [nvarchar](max) NULL,
	[NCDOE1m] [nvarchar](max) NULL,
	[Days15] [bit] NOT NULL,
	[AckDOE15d] [nvarchar](max) NULL,
	[NCDOE15d] [nvarchar](max) NULL,
	[Days7] [bit] NOT NULL,
	[AckDOE7d] [nvarchar](max) NULL,
	[NCDOE7d] [nvarchar](max) NULL,
	[Days1] [bit] NOT NULL,
	[AckDOE1d] [nvarchar](max) NULL,
	[NCDOE1d] [nvarchar](max) NULL,
	[DOSmonth6] [bit] NOT NULL,
	[AckDOS6m] [nvarchar](max) NULL,
	[NCDOS6m] [nvarchar](max) NULL,
	[DOSmonth3] [bit] NOT NULL,
	[AckDOS3m] [nvarchar](max) NULL,
	[NCDOS3m] [nvarchar](max) NULL,
	[DOSmonth1] [bit] NOT NULL,
	[AckDOS1m] [nvarchar](max) NULL,
	[NCDOS1m] [nvarchar](max) NULL,
	[DOSDays15] [bit] NOT NULL,
	[AckDOS15d] [nvarchar](max) NULL,
	[NCDOS15d] [nvarchar](max) NULL,
	[DOSDays7] [bit] NOT NULL,
	[AckDOS7d] [nvarchar](max) NULL,
	[NCDOS7d] [nvarchar](max) NULL,
	[DOSDays1] [bit] NOT NULL,
	[AckDOS1d] [nvarchar](max) NULL,
	[NCDOS1d] [nvarchar](max) NULL,
	[OverDOE] [nvarchar](max) NULL,
	[OverDOS] [nvarchar](max) NULL,
	[AckDOEOver] [nvarchar](max) NULL,
	[AckDOSOver] [nvarchar](max) NULL,
	[AlarmNCDOE6m] [bit] NOT NULL,
	[AlarmNCDOE3m] [bit] NOT NULL,
	[AlarmNCDOE1m] [bit] NOT NULL,
	[AlarmNCDOE15d] [bit] NOT NULL,
	[AlarmNCDOE7d] [bit] NOT NULL,
	[AlarmNCDOE1d] [bit] NOT NULL,
	[AlarmNCDOEXXX] [bit] NOT NULL,
	[AlarmNCDOS6m] [bit] NOT NULL,
	[AlarmNCDOS3m] [bit] NOT NULL,
	[AlarmNCDOS1m] [bit] NOT NULL,
	[AlarmNCDOS15d] [bit] NOT NULL,
	[AlarmNCDOS7d] [bit] NOT NULL,
	[AlarmNCDOS1d] [bit] NOT NULL,
	[AlarmNCDOSXXX] [bit] NOT NULL,
	[AckDOE6m_MASTER] [nvarchar](max) NULL,
	[AckDOE3m_MASTER] [nvarchar](max) NULL,
	[AckDOE1m_MASTER] [nvarchar](max) NULL,
	[AckDOE15d_MASTER] [nvarchar](max) NULL,
	[AckDOE7d_MASTER] [nvarchar](max) NULL,
	[AckDOE1d_MASTER] [nvarchar](max) NULL,
	[AckDOEOver_MASTER] [nvarchar](max) NULL,
	[AckDOS6m_MASTER] [nvarchar](max) NULL,
	[AckDOS3m_MASTER] [nvarchar](max) NULL,
	[AckDOS1m_MASTER] [nvarchar](max) NULL,
	[AckDOS15d_MASTER] [nvarchar](max) NULL,
	[AckDOS7d_MASTER] [nvarchar](max) NULL,
	[AckDOS1d_MASTER] [nvarchar](max) NULL,
	[AckDOSOver_MASTER] [nvarchar](max) NULL,
	[AckDOE6m_HOD] [nvarchar](max) NULL,
	[AckDOE3m_HOD] [nvarchar](max) NULL,
	[AckDOE1m_HOD] [nvarchar](max) NULL,
	[AckDOE15d_HOD] [nvarchar](max) NULL,
	[AckDOE7d_HOD] [nvarchar](max) NULL,
	[AckDOE1d_HOD] [nvarchar](max) NULL,
	[AckDOEOver_HOD] [nvarchar](max) NULL,
	[AckDOS6m_HOD] [nvarchar](max) NULL,
	[AckDOS3m_HOD] [nvarchar](max) NULL,
	[AckDOS1m_HOD] [nvarchar](max) NULL,
	[AckDOS15d_HOD] [nvarchar](max) NULL,
	[AckDOS7d_HOD] [nvarchar](max) NULL,
	[AckDOS1d_HOD] [nvarchar](max) NULL,
	[AckDOSOver_HOD] [nvarchar](max) NULL,
	[AlarmNCDOE6m_MASTER] [bit] NOT NULL,
	[AlarmNCDOE3m_MASTER] [bit] NOT NULL,
	[AlarmNCDOE1m_MASTER] [bit] NOT NULL,
	[AlarmNCDOE15d_MASTER] [bit] NOT NULL,
	[AlarmNCDOE7d_MASTER] [bit] NOT NULL,
	[AlarmNCDOE1d_MASTER] [bit] NOT NULL,
	[AlarmNCDOEXXX_MASTER] [bit] NOT NULL,
	[AlarmNCDOS6m_MASTER] [bit] NOT NULL,
	[AlarmNCDOS3m_MASTER] [bit] NOT NULL,
	[AlarmNCDOS1m_MASTER] [bit] NOT NULL,
	[AlarmNCDOS15d_MASTER] [bit] NOT NULL,
	[AlarmNCDOS7d_MASTER] [bit] NOT NULL,
	[AlarmNCDOS1d_MASTER] [bit] NOT NULL,
	[AlarmNCDOSXXX_MASTER] [bit] NOT NULL,
	[AlarmNCDOE6m_HOD] [bit] NOT NULL,
	[AlarmNCDOE3m_HOD] [bit] NOT NULL,
	[AlarmNCDOE1m_HOD] [bit] NOT NULL,
	[AlarmNCDOE15d_HOD] [bit] NOT NULL,
	[AlarmNCDOE7d_HOD] [bit] NOT NULL,
	[AlarmNCDOE1d_HOD] [bit] NOT NULL,
	[AlarmNCDOEXXX_HOD] [bit] NOT NULL,
	[AlarmNCDOS6m_HOD] [bit] NOT NULL,
	[AlarmNCDOS3m_HOD] [bit] NOT NULL,
	[AlarmNCDOS1m_HOD] [bit] NOT NULL,
	[AlarmNCDOS15d_HOD] [bit] NOT NULL,
	[AlarmNCDOS7d_HOD] [bit] NOT NULL,
	[AlarmNCDOS1d_HOD] [bit] NOT NULL,
	[AlarmNCDOSXXX_HOD] [bit] NOT NULL,
	[ExpiryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.certificates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[certificates] ON
SET IDENTITY_INSERT [dbo].[certificates] OFF
/****** Object:  Table [dbo].[CertificateNotification]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificateNotification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CName] [nvarchar](max) NULL,
	[DOI] [datetime] NOT NULL,
	[DOE] [datetime] NOT NULL,
	[DOS] [datetime] NOT NULL,
	[AlertFrequency] [nvarchar](max) NULL,
	[AdminAck] [nvarchar](max) NULL,
	[MasterAck] [nvarchar](max) NULL,
	[HODAck] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CertificateNotification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[certificate_order]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certificate_order](
	[serial_ID] [int] IDENTITY(1,1) NOT NULL,
	[certificate_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.certificate_order] PRIMARY KEY CLUSTERED 
(
	[serial_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminLogin]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogin](
	[Aid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [nvarchar](max) NULL,
	[pswd] [nvarchar](max) NULL,
	[LastLogin] [datetime] NULL,
	[Loginfo] [nvarchar](max) NULL,
	[productinfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AdminLogin] PRIMARY KEY CLUSTERED 
(
	[Aid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminLogin] ON
INSERT [dbo].[AdminLogin] ([Aid], [uname], [pswd], [LastLogin], [Loginfo], [productinfo]) VALUES (3, N'Admin', N'PSqdbJExBYc=', CAST(0x0000A9F500000000 AS DateTime), N'+kLqi/sWVcyxcrVLFvfvVkj5JFwkCMnX', N'+kLqi/sWVcyxcrVLFvfvVmcF2FuCYXeGjuDqajsSTV2GTDL+H6ApSVnCxUh1poIYyhlYKnsRmaIuaDj9cgS7TQ==')
SET IDENTITY_INSERT [dbo].[AdminLogin] OFF
/****** Object:  Table [dbo].[AddGroup]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddGroup](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[GroupMember] [nvarchar](max) NULL,
	[GRank] [nvarchar](max) NULL,
	[GFullName] [nvarchar](max) NULL,
	[GUser] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AddGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkHoursPlanner]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHoursPlanner](
	[wid] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[TotalHours] [decimal](18, 2) NOT NULL,
	[RestHours] [decimal](18, 2) NOT NULL,
	[options] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[dates] [datetime] NOT NULL,
	[NonConfirmities] [nvarchar](max) NULL,
	[hrs] [nvarchar](max) NULL,
	[Colors] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Col1] [nvarchar](max) NULL,
	[Col2] [nvarchar](max) NULL,
	[Col3] [nvarchar](max) NULL,
	[Col4] [nvarchar](max) NULL,
	[Col5] [nvarchar](max) NULL,
	[Col6] [nvarchar](max) NULL,
	[Col7] [nvarchar](max) NULL,
	[Col8] [nvarchar](max) NULL,
	[Col9] [nvarchar](max) NULL,
	[Col10] [nvarchar](max) NULL,
	[Col11] [nvarchar](max) NULL,
	[Col12] [nvarchar](max) NULL,
	[Col13] [nvarchar](max) NULL,
	[Col14] [nvarchar](max) NULL,
	[Col15] [nvarchar](max) NULL,
	[Col16] [nvarchar](max) NULL,
	[Col17] [nvarchar](max) NULL,
	[Col18] [nvarchar](max) NULL,
	[Col19] [nvarchar](max) NULL,
	[Col20] [nvarchar](max) NULL,
	[Col21] [nvarchar](max) NULL,
	[Col22] [nvarchar](max) NULL,
	[Col23] [nvarchar](max) NULL,
	[Col24] [nvarchar](max) NULL,
	[Col25] [nvarchar](max) NULL,
	[Col26] [nvarchar](max) NULL,
	[Col27] [nvarchar](max) NULL,
	[Col28] [nvarchar](max) NULL,
	[Col29] [nvarchar](max) NULL,
	[Col30] [nvarchar](max) NULL,
	[Col31] [nvarchar](max) NULL,
	[Col32] [nvarchar](max) NULL,
	[Col33] [nvarchar](max) NULL,
	[Col34] [nvarchar](max) NULL,
	[Col35] [nvarchar](max) NULL,
	[Col36] [nvarchar](max) NULL,
	[Col37] [nvarchar](max) NULL,
	[Col38] [nvarchar](max) NULL,
	[Col39] [nvarchar](max) NULL,
	[Col40] [nvarchar](max) NULL,
	[Col41] [nvarchar](max) NULL,
	[Col42] [nvarchar](max) NULL,
	[Col43] [nvarchar](max) NULL,
	[Col44] [nvarchar](max) NULL,
	[Col45] [nvarchar](max) NULL,
	[Col46] [nvarchar](max) NULL,
	[Col47] [nvarchar](max) NULL,
	[Col48] [nvarchar](max) NULL,
	[Col49] [nvarchar](max) NULL,
	[Col50] [nvarchar](max) NULL,
	[Col51] [nvarchar](max) NULL,
	[Col52] [nvarchar](max) NULL,
	[Col53] [nvarchar](max) NULL,
	[Col54] [nvarchar](max) NULL,
	[Col55] [nvarchar](max) NULL,
	[Col56] [nvarchar](max) NULL,
	[Col57] [nvarchar](max) NULL,
	[Col58] [nvarchar](max) NULL,
	[Col59] [nvarchar](max) NULL,
	[Col60] [nvarchar](max) NULL,
	[Col61] [nvarchar](max) NULL,
	[Col62] [nvarchar](max) NULL,
	[Col63] [nvarchar](max) NULL,
	[Col64] [nvarchar](max) NULL,
	[Col65] [nvarchar](max) NULL,
	[Col66] [nvarchar](max) NULL,
	[Col67] [nvarchar](max) NULL,
	[Col68] [nvarchar](max) NULL,
	[Col69] [nvarchar](max) NULL,
	[Col70] [nvarchar](max) NULL,
	[Col71] [nvarchar](max) NULL,
	[Col72] [nvarchar](max) NULL,
	[Col73] [nvarchar](max) NULL,
	[Col74] [nvarchar](max) NULL,
	[Col75] [nvarchar](max) NULL,
	[Col76] [nvarchar](max) NULL,
	[Col77] [nvarchar](max) NULL,
	[Col78] [nvarchar](max) NULL,
	[Col79] [nvarchar](max) NULL,
	[Col80] [nvarchar](max) NULL,
	[Col81] [nvarchar](max) NULL,
	[Col82] [nvarchar](max) NULL,
	[Col83] [nvarchar](max) NULL,
	[Col84] [nvarchar](max) NULL,
	[Col85] [nvarchar](max) NULL,
	[Col86] [nvarchar](max) NULL,
	[Col87] [nvarchar](max) NULL,
	[Col88] [nvarchar](max) NULL,
	[Col89] [nvarchar](max) NULL,
	[Col90] [nvarchar](max) NULL,
	[Col91] [nvarchar](max) NULL,
	[Col92] [nvarchar](max) NULL,
	[Col93] [nvarchar](max) NULL,
	[Col94] [nvarchar](max) NULL,
	[Col95] [nvarchar](max) NULL,
	[Col96] [nvarchar](max) NULL,
	[Col97] [nvarchar](max) NULL,
	[Col98] [nvarchar](max) NULL,
	[Col99] [nvarchar](max) NULL,
	[Col100] [nvarchar](max) NULL,
	[Col101] [nvarchar](max) NULL,
	[Col102] [nvarchar](max) NULL,
	[Col103] [nvarchar](max) NULL,
	[Col104] [nvarchar](max) NULL,
	[Col105] [nvarchar](max) NULL,
	[Col106] [nvarchar](max) NULL,
	[Col107] [nvarchar](max) NULL,
	[Col108] [nvarchar](max) NULL,
	[Col109] [nvarchar](max) NULL,
	[Col110] [nvarchar](max) NULL,
	[Col111] [nvarchar](max) NULL,
	[Col112] [nvarchar](max) NULL,
	[Col113] [nvarchar](max) NULL,
	[Col114] [nvarchar](max) NULL,
	[Col115] [nvarchar](max) NULL,
	[Col116] [nvarchar](max) NULL,
	[Col117] [nvarchar](max) NULL,
	[Col118] [nvarchar](max) NULL,
	[Col119] [nvarchar](max) NULL,
	[Col120] [nvarchar](max) NULL,
	[MonthName] [nvarchar](max) NULL,
	[YearValue] [nvarchar](max) NULL,
	[cid] [int] NOT NULL,
	[Normal_WKH] [int] NOT NULL,
	[DaysOfMonth] [nvarchar](max) NULL,
	[overtime] [decimal](18, 2) NOT NULL,
	[datetimes] [datetime] NOT NULL,
	[UserType] [nvarchar](max) NULL,
	[opa] [bit] NOT NULL,
	[RestHour7day] [decimal](18, 2) NOT NULL,
	[NormalOT1] [decimal](18, 2) NOT NULL,
	[RuleNames] [nvarchar](max) NULL,
	[RestHourAny24] [nvarchar](max) NULL,
	[RestHourAny7day] [nvarchar](max) NULL,
	[options1] [nvarchar](max) NULL,
	[opayoung] [bit] NOT NULL,
	[WRID] [nvarchar](max) NULL,
	[Days] [nvarchar](max) NULL,
	[Cellcount] [int] NOT NULL,
	[NonConfirmities1] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.WorkHoursPlanner] PRIMARY KEY CLUSTERED 
(
	[wid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WorkHoursPlanner] ON
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[WorkHoursPlanner] OFF
/****** Object:  Table [dbo].[WorkHours]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[wid] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[TotalHours] [decimal](18, 2) NOT NULL,
	[RestHours] [decimal](18, 2) NOT NULL,
	[options] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[dates] [datetime] NOT NULL,
	[NonConfirmities] [nvarchar](max) NULL,
	[hrs] [nvarchar](max) NULL,
	[Colors] [nvarchar](max) NULL,
	[ColorName] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Col1] [nvarchar](max) NULL,
	[Col2] [nvarchar](max) NULL,
	[Col3] [nvarchar](max) NULL,
	[Col4] [nvarchar](max) NULL,
	[Col5] [nvarchar](max) NULL,
	[Col6] [nvarchar](max) NULL,
	[Col7] [nvarchar](max) NULL,
	[Col8] [nvarchar](max) NULL,
	[Col9] [nvarchar](max) NULL,
	[Col10] [nvarchar](max) NULL,
	[Col11] [nvarchar](max) NULL,
	[Col12] [nvarchar](max) NULL,
	[Col13] [nvarchar](max) NULL,
	[Col14] [nvarchar](max) NULL,
	[Col15] [nvarchar](max) NULL,
	[Col16] [nvarchar](max) NULL,
	[Col17] [nvarchar](max) NULL,
	[Col18] [nvarchar](max) NULL,
	[Col19] [nvarchar](max) NULL,
	[Col20] [nvarchar](max) NULL,
	[Col21] [nvarchar](max) NULL,
	[Col22] [nvarchar](max) NULL,
	[Col23] [nvarchar](max) NULL,
	[Col24] [nvarchar](max) NULL,
	[Col25] [nvarchar](max) NULL,
	[Col26] [nvarchar](max) NULL,
	[Col27] [nvarchar](max) NULL,
	[Col28] [nvarchar](max) NULL,
	[Col29] [nvarchar](max) NULL,
	[Col30] [nvarchar](max) NULL,
	[Col31] [nvarchar](max) NULL,
	[Col32] [nvarchar](max) NULL,
	[Col33] [nvarchar](max) NULL,
	[Col34] [nvarchar](max) NULL,
	[Col35] [nvarchar](max) NULL,
	[Col36] [nvarchar](max) NULL,
	[Col37] [nvarchar](max) NULL,
	[Col38] [nvarchar](max) NULL,
	[Col39] [nvarchar](max) NULL,
	[Col40] [nvarchar](max) NULL,
	[Col41] [nvarchar](max) NULL,
	[Col42] [nvarchar](max) NULL,
	[Col43] [nvarchar](max) NULL,
	[Col44] [nvarchar](max) NULL,
	[Col45] [nvarchar](max) NULL,
	[Col46] [nvarchar](max) NULL,
	[Col47] [nvarchar](max) NULL,
	[Col48] [nvarchar](max) NULL,
	[Col49] [nvarchar](max) NULL,
	[Col50] [nvarchar](max) NULL,
	[Col51] [nvarchar](max) NULL,
	[Col52] [nvarchar](max) NULL,
	[Col53] [nvarchar](max) NULL,
	[Col54] [nvarchar](max) NULL,
	[Col55] [nvarchar](max) NULL,
	[Col56] [nvarchar](max) NULL,
	[Col57] [nvarchar](max) NULL,
	[Col58] [nvarchar](max) NULL,
	[Col59] [nvarchar](max) NULL,
	[Col60] [nvarchar](max) NULL,
	[Col61] [nvarchar](max) NULL,
	[Col62] [nvarchar](max) NULL,
	[Col63] [nvarchar](max) NULL,
	[Col64] [nvarchar](max) NULL,
	[Col65] [nvarchar](max) NULL,
	[Col66] [nvarchar](max) NULL,
	[Col67] [nvarchar](max) NULL,
	[Col68] [nvarchar](max) NULL,
	[Col69] [nvarchar](max) NULL,
	[Col70] [nvarchar](max) NULL,
	[Col71] [nvarchar](max) NULL,
	[Col72] [nvarchar](max) NULL,
	[Col73] [nvarchar](max) NULL,
	[Col74] [nvarchar](max) NULL,
	[Col75] [nvarchar](max) NULL,
	[Col76] [nvarchar](max) NULL,
	[Col77] [nvarchar](max) NULL,
	[Col78] [nvarchar](max) NULL,
	[Col79] [nvarchar](max) NULL,
	[Col80] [nvarchar](max) NULL,
	[Col81] [nvarchar](max) NULL,
	[Col82] [nvarchar](max) NULL,
	[Col83] [nvarchar](max) NULL,
	[Col84] [nvarchar](max) NULL,
	[Col85] [nvarchar](max) NULL,
	[Col86] [nvarchar](max) NULL,
	[Col87] [nvarchar](max) NULL,
	[Col88] [nvarchar](max) NULL,
	[Col89] [nvarchar](max) NULL,
	[Col90] [nvarchar](max) NULL,
	[Col91] [nvarchar](max) NULL,
	[Col92] [nvarchar](max) NULL,
	[Col93] [nvarchar](max) NULL,
	[Col94] [nvarchar](max) NULL,
	[Col95] [nvarchar](max) NULL,
	[Col96] [nvarchar](max) NULL,
	[Col97] [nvarchar](max) NULL,
	[Col98] [nvarchar](max) NULL,
	[Col99] [nvarchar](max) NULL,
	[Col100] [nvarchar](max) NULL,
	[Col101] [nvarchar](max) NULL,
	[Col102] [nvarchar](max) NULL,
	[Col103] [nvarchar](max) NULL,
	[Col104] [nvarchar](max) NULL,
	[Col105] [nvarchar](max) NULL,
	[Col106] [nvarchar](max) NULL,
	[Col107] [nvarchar](max) NULL,
	[Col108] [nvarchar](max) NULL,
	[Col109] [nvarchar](max) NULL,
	[Col110] [nvarchar](max) NULL,
	[Col111] [nvarchar](max) NULL,
	[Col112] [nvarchar](max) NULL,
	[Col113] [nvarchar](max) NULL,
	[Col114] [nvarchar](max) NULL,
	[Col115] [nvarchar](max) NULL,
	[Col116] [nvarchar](max) NULL,
	[Col117] [nvarchar](max) NULL,
	[Col118] [nvarchar](max) NULL,
	[Col119] [nvarchar](max) NULL,
	[Col120] [nvarchar](max) NULL,
	[ColNA] [nvarchar](max) NULL,
	[MonthName] [nvarchar](max) NULL,
	[YearValue] [nvarchar](max) NULL,
	[cid] [int] NOT NULL,
	[Normal_WKH] [int] NOT NULL,
	[DaysOfMonth] [nvarchar](max) NULL,
	[overtime] [decimal](18, 2) NOT NULL,
	[StatusCrew] [bit] NOT NULL,
	[CrewNC] [bit] NOT NULL,
	[MasterCrewNC] [bit] NOT NULL,
	[HODCrewNC] [bit] NOT NULL,
	[datetimes] [datetime] NOT NULL,
	[UserType] [nvarchar](max) NULL,
	[opa] [bit] NOT NULL,
	[RestHour7day] [decimal](18, 2) NOT NULL,
	[NormalOT1] [decimal](18, 2) NOT NULL,
	[RuleNames] [nvarchar](max) NULL,
	[NC1] [nvarchar](max) NULL,
	[NCD1] [datetime] NULL,
	[NC2] [nvarchar](max) NULL,
	[NCD2] [datetime] NULL,
	[NC3] [nvarchar](max) NULL,
	[NCD3] [datetime] NULL,
	[NC4] [nvarchar](max) NULL,
	[NCD4] [datetime] NULL,
	[NC5] [nvarchar](max) NULL,
	[NCD5] [datetime] NULL,
	[NC6] [nvarchar](max) NULL,
	[NCD6] [datetime] NULL,
	[NC7] [nvarchar](max) NULL,
	[NCD7] [datetime] NULL,
	[NC8] [nvarchar](max) NULL,
	[NCD8] [datetime] NULL,
	[NC9] [nvarchar](max) NULL,
	[NCD9] [datetime] NULL,
	[NC10] [nvarchar](max) NULL,
	[NCD10] [datetime] NULL,
	[NC11] [nvarchar](max) NULL,
	[NCD11] [datetime] NULL,
	[NC12] [nvarchar](max) NULL,
	[NCD12] [datetime] NULL,
	[NC13] [nvarchar](max) NULL,
	[NCD13] [datetime] NULL,
	[NC14] [nvarchar](max) NULL,
	[NCD14] [datetime] NULL,
	[NC15] [nvarchar](max) NULL,
	[NCD15] [datetime] NULL,
	[NC16] [nvarchar](max) NULL,
	[NCD16] [datetime] NULL,
	[NC17] [nvarchar](max) NULL,
	[NCD17] [datetime] NULL,
	[NC18] [nvarchar](max) NULL,
	[NCD18] [datetime] NULL,
	[YNC1] [nvarchar](max) NULL,
	[YNCD1] [datetime] NULL,
	[YNC2] [nvarchar](max) NULL,
	[YNCD2] [datetime] NULL,
	[YNC3] [nvarchar](max) NULL,
	[YNCD3] [datetime] NULL,
	[YNC4] [nvarchar](max) NULL,
	[YNCD4] [datetime] NULL,
	[YNC5] [nvarchar](max) NULL,
	[YNCD5] [datetime] NULL,
	[YNC6] [nvarchar](max) NULL,
	[YNCD6] [datetime] NULL,
	[YNC7] [nvarchar](max) NULL,
	[YNCD7] [datetime] NULL,
	[YNC8] [nvarchar](max) NULL,
	[YNCD8] [datetime] NULL,
	[RestHourAny24] [nvarchar](max) NULL,
	[RestHourAny7day] [nvarchar](max) NULL,
	[options1] [nvarchar](max) NULL,
	[opayoung] [bit] NOT NULL,
	[MNCCD1] [datetime] NULL,
	[MNCCD2] [datetime] NULL,
	[MNCCD3] [datetime] NULL,
	[MNCCD4] [datetime] NULL,
	[MNCCD5] [datetime] NULL,
	[MNCCD6] [datetime] NULL,
	[MNCCD7] [datetime] NULL,
	[MNCCD8] [datetime] NULL,
	[MNCCD9] [datetime] NULL,
	[MNCCD10] [datetime] NULL,
	[MNCCD11] [datetime] NULL,
	[MNCCD12] [datetime] NULL,
	[MNCCD13] [datetime] NULL,
	[MNCCD14] [datetime] NULL,
	[MNCCD15] [datetime] NULL,
	[MNCCD16] [datetime] NULL,
	[MNCCD17] [datetime] NULL,
	[MNCCD18] [datetime] NULL,
	[MYNCCD1] [datetime] NULL,
	[MYNCCD2] [datetime] NULL,
	[MYNCCD3] [datetime] NULL,
	[MYNCCD4] [datetime] NULL,
	[MYNCCD5] [datetime] NULL,
	[MYNCCD6] [datetime] NULL,
	[MYNCCD7] [datetime] NULL,
	[MYNCCD8] [datetime] NULL,
	[Last_update] [datetime] NULL,
	[AdminAlarm] [bit] NOT NULL,
	[MasterAlarm] [bit] NOT NULL,
	[HODAlarm] [bit] NOT NULL,
	[HNCCD1] [datetime] NULL,
	[HNCCD2] [datetime] NULL,
	[HNCCD3] [datetime] NULL,
	[HNCCD4] [datetime] NULL,
	[HNCCD5] [datetime] NULL,
	[HNCCD6] [datetime] NULL,
	[HNCCD7] [datetime] NULL,
	[HNCCD8] [datetime] NULL,
	[HNCCD9] [datetime] NULL,
	[HNCCD10] [datetime] NULL,
	[HNCCD11] [datetime] NULL,
	[HNCCD12] [datetime] NULL,
	[HNCCD13] [datetime] NULL,
	[HNCCD14] [datetime] NULL,
	[HNCCD15] [datetime] NULL,
	[HNCCD16] [datetime] NULL,
	[HNCCD17] [datetime] NULL,
	[HNCCD18] [datetime] NULL,
	[HYNCCD1] [datetime] NULL,
	[HYNCCD2] [datetime] NULL,
	[HYNCCD3] [datetime] NULL,
	[HYNCCD4] [datetime] NULL,
	[HYNCCD5] [datetime] NULL,
	[HYNCCD6] [datetime] NULL,
	[HYNCCD7] [datetime] NULL,
	[HYNCCD8] [datetime] NULL,
	[WRID] [nvarchar](max) NULL,
	[Days] [nvarchar](max) NULL,
	[Cellcount] [int] NOT NULL,
	[UnFreezeDates] [datetime] NULL,
	[NonConfirmities1] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.WorkHours] PRIMARY KEY CLUSTERED 
(
	[wid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WorkHours] ON
SET IDENTITY_INSERT [dbo].[WorkHours] OFF
/****** Object:  Table [dbo].[Vessel]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vessel](
	[Vid] [int] IDENTITY(1,1) NOT NULL,
	[vessel_ID] [int] NOT NULL,
	[VesselName] [nvarchar](max) NULL,
	[imo] [int] NOT NULL,
	[Flag] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[website] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Vessel] PRIMARY KEY CLUSTERED 
(
	[Vid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vessel] ON
INSERT [dbo].[Vessel] ([Vid], [vessel_ID], [VesselName], [imo], [Flag], [Email], [website]) VALUES (8, 9174488, N'Sanmar Stanza', 9174488, N'India', N'cs@Work-Ship.com', N'www.work-ship.com')
SET IDENTITY_INSERT [dbo].[Vessel] OFF
/****** Object:  Table [dbo].[version_tbl]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[version_tbl](
	[vids] [int] IDENTITY(1,1) NOT NULL,
	[versions] [nvarchar](max) NULL,
	[ClientVersions] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.version_tbl] PRIMARY KEY CLUSTERED 
(
	[vids] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[version_tbl] ON
INSERT [dbo].[version_tbl] ([vids], [versions], [ClientVersions]) VALUES (1, N'2.0.1', N'2.0.1')
SET IDENTITY_INSERT [dbo].[version_tbl] OFF
/****** Object:  Table [dbo].[UserAccess]    Script Date: 04/11/2019 17:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccess](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[CrewManagement] [bit] NOT NULL,
	[CrewDetail] [bit] NOT NULL,
	[CrewRank] [bit] NOT NULL,
	[Department] [bit] NOT NULL,
	[HolidayGroup] [bit] NOT NULL,
	[HOD] [bit] NOT NULL,
	[ResetPassword] [bit] NOT NULL,
	[ResetPasswordAll] [bit] NOT NULL,
	[FreezeUnfreeze] [bit] NOT NULL,
	[FreezeUnfreezeAll] [bit] NOT NULL,
	[Report] [bit] NOT NULL,
	[OverView] [bit] NOT NULL,
	[OverViewAll] [bit] NOT NULL,
	[OverTime] [bit] NOT NULL,
	[CrewWorkHours] [bit] NOT NULL,
	[NonConfirmity] [bit] NOT NULL,
	[WorkSchedule] [bit] NOT NULL,
	[RestHours] [bit] NOT NULL,
	[WorkandResthour] [bit] NOT NULL,
	[WorkandRestHoursAll] [bit] NOT NULL,
	[Administration] [bit] NOT NULL,
	[ImportExport] [bit] NOT NULL,
	[BackupRestore] [bit] NOT NULL,
	[ApplicationLog] [bit] NOT NULL,
	[Rules] [bit] NOT NULL,
	[MainCertificate] [bit] NOT NULL,
	[Certificate] [bit] NOT NULL,
	[Lincenc] [bit] NOT NULL,
	[Notification] [bit] NOT NULL,
	[NCNotification] [bit] NOT NULL,
	[CerNotification] [bit] NOT NULL,
	[OCNotification] [bit] NOT NULL,
	[NonConformityAll] [bit] NOT NULL,
	[CrewDetailAll] [bit] NOT NULL,
	[CertificateAdd] [bit] NOT NULL,
	[CertificateEdit] [bit] NOT NULL,
	[CertificateDelete] [bit] NOT NULL,
	[ErrorLog] [bit] NOT NULL,
	[ManilaRules] [bit] NOT NULL,
	[GroupPlanning] [bit] NOT NULL,
	[SelectAll] [bit] NOT NULL,
	[HODName] [nvarchar](max) NULL,
	[DepartmentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserAccess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserAccess] ON
SET IDENTITY_INSERT [dbo].[UserAccess] OFF
/****** Object:  StoredProcedure [dbo].[SPGetWorkHoursPlanner]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetWorkHoursPlanner]
AS 
BEGIN
select * from WorkHoursPlanner

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetWorkHours]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetWorkHours]
AS 
BEGIN
select * from WorkHours

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetVessel]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetVessel]
AS 
BEGIN
select * from Vessel

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetversion_tbl]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetversion_tbl]
AS 
BEGIN
select * from version_tbl

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetUserAccess]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetUserAccess]
AS 
BEGIN
select * from UserAccess

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetRuleTable]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetRuleTable]
AS 
BEGIN
select * from RuleTable

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetRuffCode]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetRuffCode]
AS 
BEGIN
select * from RuffCode

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetRetardtblClass]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetRetardtblClass]
AS 
BEGIN
select * from RetardtblClass

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetOverTime]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetOverTime]
AS 
BEGIN
select * from OverTime

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetOPAStartStop]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetOPAStartStop]
AS 
BEGIN
select * from OPAStartStop

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetLogbook]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetLogbook]
AS 
BEGIN
select * from Logbook

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetInternational]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetInternational]
AS 
BEGIN
select * from International

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetInfoLog]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetInfoLog]
AS 
BEGIN
select * from InfoLog

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetHolidays]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetHolidays]
AS 
BEGIN
select * from Holidays

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetHoliDayGroupName]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetHoliDayGroupName]
AS 
BEGIN
select * from HoliDayGroupName

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetGroupPlanner]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetGroupPlanner]
AS 
BEGIN
select * from GroupPlanner

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetFreeze]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetFreeze]
AS 
BEGIN
select * from Freeze

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetDepartment]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetDepartment]
AS 
BEGIN
select * from Department

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetDefineRules]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetDefineRules]
AS 
BEGIN
select * from DefineRules

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetCurrency]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetCurrency]
AS 
BEGIN
select * from Currency

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetCrewRank]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetCrewRank]
AS 
BEGIN
select * from CrewRank

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetCrewDetail]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetCrewDetail]
AS 
BEGIN
select * from CrewDetail

END

EXEC SPGetCrewDetail
GO
/****** Object:  StoredProcedure [dbo].[SPGetcomment_ofVS]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetcomment_ofVS]
AS 
BEGIN
select * from comment_ofVS

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetcertificates]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetcertificates]
AS 
BEGIN
select * from certificates

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetCertificateNotification]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetCertificateNotification]
AS 
BEGIN
select * from CertificateNotification

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetcertificate_order]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetcertificate_order]
AS 
BEGIN
select * from certificate_order

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetAdminLogin]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetAdminLogin]
AS 
BEGIN
select * from AdminLogin

END
GO
/****** Object:  StoredProcedure [dbo].[SPGetAddGroup]    Script Date: 04/11/2019 17:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPGetAddGroup]
AS 
BEGIN
select * from AddGroup

END

EXEC SPGetAdminLogin
GO
