<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on  E:\Barmala 2\Workship WPF Version2     Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->


    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    
<!-- My Laptop Connection String>-->
  <add name="ShipmentContaxt" connectionString="wlYFkS+DZ0LtBEqpmYLb5Hy7wKzAZKJ9J5MLfK97biO96+s5b3cEcexVYDmj6VdnIAOQ2yenm0bElhbasjgk2pP9i8ybCNLg" providerName="System.Data.SqlClient"/>

    
      <!-- <add name="ShipmentContaxt" connectionString="wlYFkS+DZ0Jx1cQvmhvxJ+2NojhhgIgtVQV35f/VXO/oeetOmvc2lg9m+BZEInzVYCR4xZaHTPAoXFLZZdsnO9zy0zQ3rQuPwPyjxJRsEIQ=" providerName="System.Data.SqlClient" />-->
  

    <!-- My Laptop Connection String>-->
    
    
    <!-->Defaultinstance
    <add name="ShipmentContaxt" connectionString="wlYFkS+DZ0LtBEqpmYLb5Hy7wKzAZKJ9J5MLfK97biO96+s5b3cEcSfHqfzRJ5JtNwJn2/O4eCiLpsBnUAyx8JcbaPYTvVP2" providerName="System.Data.SqlClient" />-->
    <!-->Defaultinstance-->    
       <!-->sqlserverinstance
     <add name="ShipmentContaxt" connectionString="wlYFkS+DZ0Jx1cQvmhvxJ+2NojhhgIgtVQV35f/VXO/oeetOmvc2lg9m+BZEInzVYCR4xZaHTPAoXFLZZdsnO9zy0zQ3rQuPwPyjxJRsEIQ=" providerName="System.Data.SqlClient" />-->
    <!-->sqlserverinstance-->
   

    

  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <!--<customErrors mode="Off" />-->
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlClient"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <!--<provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />-->
    </providers>
  </entityFramework>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Expression.Interactions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
