<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Expression.Samples.Interactivity.dll" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net46" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net46" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net46" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net46" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net46" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net46" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>